@keyframes displayDishes {
  0% {
    opacity: 0;
    transform: translateY(10rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes hidden-loader {
  100% {
    visibility: hidden;
  }
}
@keyframes spinner {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes ball-1 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, 100%);
  }
}
@keyframes ball-2 {
  0% {
    transform: translate(0, -100%);
  }
  100% {
    transform: translate(100%, -100%);
  }
}
@keyframes ball-3 {
  0% {
    transform: translate(0, -200%);
  }
  100% {
    transform: translate(-100%, -200%);
  }
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
@media only screen and (min-width: 53.125em) {
  html {
    font-size: 70%;
  }
}

.inner-body {
  background-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

a {
  color: currentColor;
  text-decoration: none;
}

li {
  list-style: none;
}

body {
  font-size: 1.6rem;
  font-family: "Roboto", sans-serif;
}

.logo,
.menu__restaurant-name {
  font-family: "Shrikhand", cursive;
  font-weight: 500;
}

.logo {
  font-size: 3.5rem;
}
.logo--footer {
  font-size: 2rem;
  margin-bottom: 2.5rem;
}

.menu__restaurant-name {
  font-size: 2.5rem;
}
.menu__type {
  text-transform: uppercase;
  font-weight: 400;
}

.icon {
  height: 2rem;
  width: 2rem;
}
.icon--gray-dark {
  fill: #363636;
}
.icon--gray {
  fill: #7d7d7d;
}

.heading-secondary {
  font-size: 2.5rem;
  color: #000;
  text-align: center;
}

.btn {
  color: #fff;
}

.footer__link {
  line-height: 2.5rem;
  font-weight: 300;
}
.footer__link--bold {
  font-weight: 600;
}

.loader {
  width: 100vw;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.95);
  position: fixed;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: hidden-loader 1s 3s ease-out forwards;
}
.loader__spinner {
  width: 5rem;
  height: 5rem;
  animation: spinner 2s infinite linear normal;
}
.loader__ball {
  height: 5rem;
  width: 5rem;
  border-radius: 100%;
  animation: ball-1 0.8s infinite alternate;
}
.loader__ball--1 {
  background-color: #9256dc;
}
.loader__ball--2 {
  background-color: #FF79DA;
  animation-name: ball-2;
}
.loader__ball--3 {
  background-color: #98e2cf;
  animation-name: ball-3;
}

.company {
  color: #363636;
}
.company__location {
  background-color: #ebebeb;
  font-weight: 700;
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
}
.company__city {
  margin-left: 1rem;
}
.company__text-box {
  background-color: #f5f5f5;
  padding: 4rem;
  text-align: center;
}
.company__text {
  padding: 2rem 0;
  text-align: center;
}

.btn {
  display: inline-block;
  padding: 1.5rem 2.5rem;
  border-radius: 5rem;
  background-image: linear-gradient(#FF79DA, #9256dc);
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  transition: all 0.2s;
}
.btn:hover {
  background-image: linear-gradient(#ff8de0, #9d67e0);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.55);
}

.favorite {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  background: #f5f5f5;
  mix-blend-mode: darken;
}
.favorite--menu {
  width: 3rem;
  height: 3rem;
}
.favorite::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: linear-gradient(to right top, #FF79DA, #9256dc);
  mix-blend-mode: screen;
  opacity: 0;
  transition: all 1s;
}
.favorite:hover::after {
  opacity: 1;
}
.favorite__icon {
  position: absolute;
  width: 2.5rem;
  height: 2.5rem;
}
.favorite__icon::before {
  font-size: 2rem;
}
.favorite__icon--menu {
  width: 3rem;
  height: 3rem;
}
.favorite__icon--show {
  transition: opacity 1s;
}
.favorite__icon--show:hover {
  opacity: 0;
}
.favorite__icon--hidden {
  opacity: 0;
  transition: opacity 1s;
}
.favorite:hover .favorite__icon--show ~ .favorite__icon--hidden {
  opacity: 1;
}

.step {
  padding: 2.5rem 0;
  background-color: #f5f5f5;
  border-radius: 2rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
  transition: all 0.2s;
}
.step__number {
  display: inline-block;
  color: #fff;
  background-color: #9256dc;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step__text {
  font-size: 1.8rem;
  font-weight: 700;
  margin-left: 2rem;
}
@media only screen and (min-width: 46.875em) {
  .step__text {
    font-size: 1.5rem;
    margin: 0;
  }
}
.step:hover {
  background-color: rgba(146, 86, 220, 0.1);
}
.step:hover .icon {
  fill: #9256dc;
}

.card {
  border-radius: 2rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
}
.card__heading {
  font-size: 1.7rem;
  line-height: 3rem;
  margin: 0 1.5rem;
  position: relative;
}
.card__tag {
  display: inline-block;
  background-color: #98e2cf;
  color: #26886f;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 0.5rem;
  margin-right: 1.5rem;
}
.card__text {
  margin-left: 1.5rem;
}

.hero {
  width: 100%;
  height: 25vh;
}
@media only screen and (min-width: 53.125em) {
  .hero {
    height: 30vw;
  }
}
.hero__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu {
  grid-column: 2/3;
  width: 100%;
  background-color: #f5f5f5;
  border-radius: 3.5rem 3.5rem 0 0;
  transform: translateY(-5rem);
  padding: 4rem 2rem 0 2rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  grid-gap: 3rem;
  justify-items: center;
  align-items: flex-start;
}
.menu__restaurant-name {
  grid-column: 1/-1;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  justify-self: stretch;
}
.menu__starters {
  animation: displayDishes 1.5s cubic-bezier(0.5, 1, 0.89, 1) 0s;
  animation-fill-mode: backwards;
}
.menu__dishes {
  animation: displayDishes 1.5s cubic-bezier(0.5, 1, 0.89, 1) 0.3s;
  animation-fill-mode: backwards;
}
.menu__dessert {
  animation: displayDishes 1.5s cubic-bezier(0.5, 1, 0.89, 1) 0.6s;
  animation-fill-mode: backwards;
}
.menu__list {
  width: 100%;
  display: grid;
  grid-template-columns: minmax(0, 1fr);
  grid-gap: 3rem;
}
.menu__item {
  width: 100%;
  border-radius: 2rem;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.2);
}
.menu__type {
  line-height: 3rem;
  margin-bottom: 3rem;
}
.menu__type::after {
  content: "";
  height: 3px;
  width: 5rem;
  background-color: #98e2cf;
  display: block;
}
.menu__btn {
  grid-column: 1/-1;
}

.dish {
  display: flex;
  align-items: flex-end;
  position: relative;
}
.dish__name {
  display: flex;
  flex-direction: column;
  line-height: 2.5rem;
  width: 30rem;
  min-width: 0;
  padding: 1rem 0 1rem 1.5rem;
}
.dish__name--main {
  font-size: 1.7rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__name--sub {
  font-size: 1.5rem;
  font-weight: 400;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.dish__price {
  font-weight: 700;
  padding: 1rem 1.5rem;
  margin-left: auto;
}
.dish__icon-box {
  background-color: #98e2cf;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0 2rem 2rem 0;
  width: 0;
  transition: all 0.4s;
}
.dish__icon {
  fill: #fff;
  width: 2.5rem;
  height: 2.5rem;
  transform: rotate(-360deg);
  transition: transform 0.6s;
}
.dish:hover .dish__icon-box {
  width: 10rem;
}
.dish:hover .dish__icon {
  transform: rotate(0deg);
}

.header {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
}
.header--inner-page {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.header__link {
  position: absolute;
  top: 50%;
  left: 0;
  margin-left: 2rem;
  transform: translateY(-50%);
}

.heading-secondary {
  grid-column: 1/-1;
}

.operation,
.restaurant {
  display: grid;
  justify-items: start;
  grid-gap: 3rem;
  padding: 4rem 3rem;
}

@media only screen and (min-width: 46.875em) {
  .operation {
    grid-template-columns: repeat(3, 1fr);
    padding: 4rem;
  }
}

.step {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, min-content) 1fr;
}
@media only screen and (min-width: 46.875em) {
  .step {
    width: 100%;
    grid-template-columns: repeat(5, 1fr);
    grid-row-gap: 1rem;
    align-items: center;
    justify-items: center;
    position: relative;
  }
}
.step__number {
  grid-column: 1/2;
  transform: translateX(-50%);
}
@media only screen and (min-width: 46.875em) {
  .step__number {
    grid-column: 3/4;
    position: absolute;
    top: 0;
    transform: translate(0, -50%);
  }
}
@media only screen and (min-width: 46.875em) {
  .step__icon {
    grid-column: 3/4;
  }
}
.step__text {
  grid-column: 3/4;
}
@media only screen and (min-width: 46.875em) {
  .step__text {
    grid-column: 1/-1;
  }
}

.restaurant {
  background-color: #f5f5f5;
}
@media only screen and (min-width: 43.75em) {
  .restaurant {
    grid-template-columns: repeat(auto-fit, minmax(31rem, 1fr));
  }
}
@media only screen and (min-width: 72.8125em) {
  .restaurant {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  display: grid;
  grid-template-rows: repeat(6, 4rem);
  align-items: center;
}
.card__img-box {
  grid-row: 1/5;
  grid-column: 1/3;
  height: 100%;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2rem 2rem 0 0;
}
.card__tag {
  grid-row: 1/2;
  grid-column: 2/3;
  align-self: end;
}
.card__body {
  grid-row: 5/7;
  grid-column: 1/3;
}
.card__heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (min-width: 53.125em) {
  .menu {
    grid-template-columns: repeat(3, 3fr);
  }
}
@media only screen and (min-width: 83.75em) {
  .menu {
    width: 75%;
    margin: 0 auto;
  }
}
.menu__starters, .menu__dishes, .menu__dessert {
  justify-self: stretch;
}
@media only screen and (min-width: 37.5em) {
  .menu__dessert {
    grid-column: 1/-1;
  }
}
@media only screen and (min-width: 53.125em) {
  .menu__dessert {
    grid-column: auto;
  }
}

.footer {
  background-color: #363636;
  color: #fff;
  padding: 3rem;
}
@media only screen and (min-width: 53.125em) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.footer__link {
  display: flex;
  align-items: center;
}
@media only screen and (min-width: 53.125em) {
  .footer__link {
    justify-content: center;
  }
}
.footer__icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 1rem;
  fill: #fff;
}

/*# sourceMappingURL=style.css.map */
