body{
    font-size: 1.6rem;
    font-family: 'Roboto', sans-serif;
}

.logo,
.menu__restaurant-name{
    font-family: 'Shrikhand', cursive;
    font-weight: 500;
}

.logo{    
    font-size: 3.5rem;
    &--footer{
        font-size: 2rem;
        margin-bottom: 2.5rem;
    }
}

.menu{
    &__restaurant-name{
        font-size: 2.5rem;
    }

    &__type{
        text-transform: uppercase;
        font-weight: 400;
    }
}

.icon{
    height: 2rem;
    width: 2rem;

    &--gray-dark{
        fill: $color-gray-dark;
    }

    &--gray{
        fill: $color-gray-icon;
    }

}

.heading-secondary{
    font-size: 2.5rem;
    color: $color-black;
    text-align: center;
}

.btn{
    color: $color-white;
}

.footer{
    &__link{
        line-height: 2.5rem;
        font-weight: 300;
        &--bold{
            font-weight: 600;
        }
    }
}