.btn{
    display: inline-block;
    padding: 1.5rem 2.5rem;
    border-radius: 5rem;
    background-image: linear-gradient($color-secondary,$color-primary);
    @include box-shadow(.3);
    transition: all .2s;

    &:hover{
        background-image: linear-gradient(lighten($color-secondary,4%),lighten($color-primary,4%));
        box-shadow: 0 .5rem 1rem rgba($color-black, .55);
    }
}