:root{
    --color-blue-dark: #0065FC;
    --color-blue-light: #DEEBFF;
    --color-gray-light: #f2f2f2;
}

html{
    /* 10 / 16 = 0.625 => defined 1rem = 10px */
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body{
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
}

a{
    color: currentColor;
    text-decoration: none;
}

li{
    list-style: none;
}

button{
    outline: none;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.container{
    display: grid;
    grid-template-columns: 1fr 132rem 1fr;
    grid-row-gap: 5rem;
}

/*================
    HEADER START
================*/

.header{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: [full-start]1fr minmax(min-content, 34rem) minmax(min-content, 15rem) [full-end];
    align-items: center;
}

.header__logo-box{
    height: 12rem;
    display: flex;
    align-items: center;
}

.nav{
    align-self: stretch;
}

.nav__list{
    display: flex;
    height: 100%;
}

.nav__item{
    margin-right: 2rem;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.nav__link:hover{
    color: var(--color-blue-dark);
    transition: all .2s;
}

.nav__link::before{
    content: "";
    height: 0;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;   
}

.nav__link:hover::before{
    height: 3px;
    background-color: currentColor;
    transition: height .2s;
}

.register{
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
}

.register__link{
    color: var(--color-blue-dark);
    font-weight: 600;
}

.heading-primary{
    grid-column: full-start / full-end;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
}

.heading-primary--sub{
    font-size: 1.6rem;
    font-weight: 400;
    margin-top: 2rem;
}

.search{
    grid-column: full-start / full-end;
    display: flex;
    margin-top: 3rem;
}

.search__input{
    border: solid 2px var(--color-gray-light);
    width: 21rem;
    font-family: inherit;
    font-size: 1.7rem;
    font-weight: 700;
    padding-left: 1.5rem;
}

.search__input:focus{
    outline: none;
}
.search__input:focus::placeholder{
    color: rgba(0,0,0,.2);
}

.search__input::placeholder{
    color: #000;
}

.search__btn-text{
    padding: 0 2rem;
}

/* magnifying glass icon */
.search__btn-icon.icon-box{
    display: none;
}

/*===============
    HEADER END
===============*/

/*=========================
    LODGING SECTION START
=========================*/

.heading-secondary{
    grid-column: 1 / -1;
    font-size: 2.5rem;
}

.heading-secondary--available{
    grid-column: 1 / -1;
}

.heading-secondary--popular{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading-secondary--popular span{
    margin-right: 1rem;
}

/*Parent*/
.lodging{
    grid-column: 2/3;
    grid-row: 2/3;
    font-weight: 700;
    display: grid;
    grid-template-columns: repeat(2,1fr) minmax(38rem, 1fr);
    grid-gap: 4rem;
}

.heading-secondary--filter{
    font-size: 2rem;
}

.lodging__filters{
    grid-column: 1 / -1;
    display: flex;
    align-items: center; 
    flex-wrap: wrap;
}

.lodging__filters > * {
    margin-bottom: 1.5rem;
}

.filter{
    font-size: inherit;
    font-weight: 600;
    border: solid 2px #d9d9d9;
    border-radius: 5rem;
    height: 5rem;
    display: flex;
    align-items: center;
    margin-left: 2.5rem;
    cursor: pointer;
    transition: all .2s;
}

.filter:hover{
    transform:translateY(-3px);
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.2);;
    transition: all .2s;
}

.filter:active{
    transform: translateY(-1px);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);;
    transition: all .2s;
}

.filter__text{
    padding: 0 1.4rem;
}

.lodging__info{
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    font-size: 1.45rem;
    font-weight: 400;
}

.lodging__available,
.lodging__popular{
    background-color: var(--color-gray-light);
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    padding: 4rem;
}

.lodging__available{
    grid-column: 1/span 2;
    justify-items: start;
    grid-gap: 3rem;
}


.lodging__popular{
    border-radius: 2rem;
    grid-row-gap: 3rem;
    justify-content: center;
    align-self: start;
}
/*========================
    LODGING SECTION END
========================*/
/*=============================
    ACTIVITIES SECTION START
==============================*/

.activities{
    grid-column: 2/3;
    grid-row: 3/4;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem,1fr));;
    grid-column-gap: 3rem;
}

/*==========================
    ACTIVITIES SECTION END
==========================*/

/*=================
    FOOTER START
=================*/

.footer{
    grid-column: 1 / -1;
    background-color: var(--color-gray-light);
    display: grid;
    grid-template-columns: 1fr minmax(min-content,132rem) 1fr;
    /* height: 20rem; */
    padding: 4rem 0;
    align-items: center;
}

.footer__nav{
    grid-column: 2/3;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    grid-row-gap: 4rem;
}

.footer__list{
    margin-top: 1.5rem;
}

.footer__link{
    font-size: 1.5rem;
    line-height: 3rem;
}
.footer__link:hover{
    text-decoration:underline;
}
/*================
    FOOTER END
=================*/

/*==================
    CARD START
==================*/

.card-link:link,
.card-link:visited{
    transition: all .2s;
}

.card-link:hover{
    transform: scale(1.05) translateY(-3px);
    transition: all .2s;
}

.card-link:active{
    transform: translateY(-1px);
    transition: all .2s;
}

.card{
    background-color: #fff;
    border-radius: 2rem;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(4, 3rem) min-content;
    box-shadow: 2px 2px 2rem rgba(163, 163, 163, 0.9);
}

.card__img-box{
    grid-column: 1/-1;
    grid-row: 1/5;
}

.card__img{
    width: 100%;
    height: 100%;
    border-radius: 2rem 2rem 0 0;
    object-fit: cover;
    padding: 5px;
}

.card__body{
    grid-column: 1/-1;
    grid-row: 5/6;
    font-size: 1.4rem;
    line-height: 2.5rem;
    padding: .5rem 1.5rem;
}

.card__text{
    font-weight: 500;
}

.card__price{
    font-weight: 700;
}

.card__rating{
    display: flex;
    padding: .5rem 0;
}

.card__rating .icon{
    margin-right: 2px;
}
/*  CARD MOREST POPULAR */
.card--popular{
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: repeat(5, 3rem);
}

.card__img-box--popular{
    grid-column: 1/3;
    grid-row: 1/-1;
}

.card__img--popular{
    border-radius: 2rem 0 0 2rem;
}

.card__body--popular{
    grid-column: 3/-1;
    grid-row: 1/-1;
    position: relative;
}

.card__body--popular .card__rating{
    position: absolute;
    bottom: 1rem;
}

.card__img-box--activity .card__img{
    padding: 0;
}

.card--activity .card__body{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
/*==================
    CARD END
==================*/

/*==================
    BUTTON START
==================*/

.btn--search{
    font-size: inherit;
    font-weight: 600;
    color: #fff;
    background-color: var(--color-blue-dark);
    border-radius: 0 1.5rem 1.5rem 0;
    transform: translateX(-2px);
}

/*===============
    BUTTON END
===============*/

/*===============
    ICON START
===============*/

.icon-box{
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* map marker icon */
.icon-box--gray{
    background-color: var(--color-gray-light);
    border-radius: 1.5rem 0 0 1.5rem;
}
/* info icon - lodging section */
.icon-box--info{
    height: 2.5rem;
    width: 2.5rem;
    margin-right: 1rem;
    border: solid 1px #d9d9d9;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon-box--blue-light{
    background-color: var(--color-blue-light);
    border-radius: 100%;
    transform: translateX(-3px);
}

.icon--20{
    height: 2rem;
    width: 2rem;
}

/* info icon & star icon - lodging section */
.icon--15{
    height: 1.5rem;
    width: 1.5rem;
}

.icon--black{
    fill: #000;
}

.icon--white{
    fill: #fff;
}

.icon--blue-dark{
    fill: var(--color-blue-dark);
}

.icon--gray{
    fill: #d9d9d9;
}

/*===============
    ICON END
===============*/

/*=================
    MEDIA QUERIES
=================*/

/* large device */

@media only screen and (min-width: 125em){
    html{
        font-size: 80%;
    }
    body{
        font-size: 2rem;
    }

    .header__logo{
        height: 6.5rem;
    }

    .lodging__info,
    .footer__link{
        font-size: 1.8rem;
    }
}

@media only screen and (max-width: 83.75em){
    html{
        /* 8 / 16 = 0.5 => defined 1rem = 8px */
        font-size: 50%;
    }

    body{
       font-size: 2rem;
    }

    .heading-primary{
        font-size: 2.5rem;
    }

    .heading-primary--sub{
        font-size: 2rem;
    }

    .card__body{
        font-size: 1.5rem;
        line-height: 3rem;
    }

    .footer__link{
        font-size: 1.9rem;
    }
}

/* LAYOUT OF ACTIVITIES IN DESKTOP FORMAT*/
@media only screen and (min-width: 59.375em){
    .activities{
        display: grid;
        grid-template-rows: min-content 18rem repeat(2, 4rem) 18rem;
        grid-template-columns: repeat(4, 1fr);
        grid-column-gap: 3rem;
    }

    .activities .heading-secondary{
        padding-bottom: 3rem;
    }

    .card__img-box--activity{
        grid-row: 1 / 2;
    }

    .card-link--vieux-port{
        grid-row: 2/span 4;
    }

    .card-link--fort-pomegues{
        grid-column: 2 / 3;
        grid-row: 2 / 4;
    }

    .card-link--iles-frioul{
        grid-column: 2/3;
        grid-row: 5 / 6;
    }

    .card-link--parc-calanques{
        grid-column: 3/4;
        grid-row: 2 / span 4;
    }

    .card-link--notre-dame{
        grid-column: 4/-1;
        grid-row: 2 / 3;
    }

    .card-link--parc-longchamp{
        grid-column: 4/-1;
        grid-row: 4 / span 2;
    }

    .card--activity{
        height: 100%;
        grid-template-rows: minmax(13rem, 1fr) min-content;
    }
}



/* medium device */
@media only screen and (max-width: 68.75em){
    .container{
        grid-template-columns: 1fr 100% 1fr;
    } 

    .footer{
        padding-left: 3rem;
    }
}

@media only screen and (min-width:37.5em) and (max-width: 68.75em){
    .container > *:not(:last-child){
        padding: 0 3rem;
    }
}

@media only screen and (min-width:46.25em) and (max-width: 68.75em){
    
    .card--popular{
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: repeat(4, 5rem) min-content;
    }

    .card__img-box--popular{
        grid-column: 1/-1;
        grid-row: 1/4;
    }

    .card__img--popular{
        border-radius: 2rem 2rem 0 0;
    }

    .card__body--popular{
        grid-column: 1/-1;
        grid-row: 4/-1;
    }

    .card__body--popular .card__rating{
        position: initial;
    }
}

@media only screen and (max-width: 59.375em){

    .lodging__available{
        grid-column: 1 / -1;
    }

    .lodging__popular{
        grid-row: 3 / 4;
        grid-column: 1 / -1;
        grid-gap: 3rem ;
    }

    .heading-secondary--popular{
        justify-content: flex-start;
    }

    .heading-secondary--popular span{
        margin-right: 2rem;
    }

    .card--popular{
        height: 100%;
    }

    .activities{
        grid-row-gap: 3rem;
        padding: 0 4rem;
    }
    
    
}

/* mobile device */
@media only screen and (max-width: 47.5em){
    .lodging__popular .card-link{
        grid-column: 1 / -1;
    }
}

@media only screen and (max-width: 37.5em){
    .container{
        padding: 0;
    }

    /*================
        HEADER START
    ================*/

    .header{
        grid-template-columns: 2rem [full-start] 1fr repeat(2, min-content) [full-end] 2rem;
        align-items: start;
    }

    .header__logo-box{
        grid-column: full-start / 3;
        align-self: center;
        padding-bottom: 0;
    }

    .nav{
        grid-column: 1 / -1;
        align-self: stretch;
        margin-bottom: 3rem;
    }

    .nav__list{
        height: initial;
    }

    .nav__item{
        margin: 0;
        height: 4rem;
    }
    
    .nav__link::before{
        top: 100%;
        height: 3px;
        background-color: var(--color-gray-light);
    }

    .register{
        grid-column: 3/5;
        grid-row: 1/2;
    }

    .heading-primary{
        font-size: 3rem;
    }

    .heading-primary--sub{
        font-size: 2.4rem;
    }

    .search{
        /* margin: 0; */
    }

    .search__input{
        flex: 1;
    }

    .search__btn-text{
        display: none;
    }

    .search__btn-icon.icon-box{
        display: flex;
    }

    .btn--search{
        border-radius: 1.5rem;
        transform: translateX(-1rem);
    }

    /*================
        HEADER END
    ================*/
    /*=========================
        LODGING SECTION START
    =========================*/
    .lodging{
        grid-gap: 0;
    }

    .heading-secondary--filter{
        width: 100%;
    }

    .lodging__filters,
    .lodging__info{
        padding: 2rem;
    }

    .heading-secondary--popular{
        justify-content: space-between;
    }

    .lodging__available{
        background-color: transparent;
    }

    .lodging__popular{
        border-radius: 0;
    }

    .lodging__info{
        font-size: 2rem;
    }

    /*=========================
        LODGING SECTION END
    =========================*/
    /*=========
        CARD
    =========*/
    .card-link{
        grid-column: 1/-1;
    }

    .card__body{
        font-size: 1.8rem;
    }

}