// Propriété Css pour le header

.header{
    display: flex;
    justify-content: center;
    padding: 1rem 0;

    &--inner-page{
        /* Header la page des menu */
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    &__link{
        /* Lien pour retourner à la page d'accueil */
        position: absolute;
        top: 50%;
        left: 0;
        margin-left: 2rem;
        transform: translateY(-50%);
    }

}