@mixin box-shadow($opacity){
    box-shadow: 0 .3rem 1rem rgba($color-black, $opacity);
}

@mixin media-queries($breakpoint){
    @media only screen and (min-width: $breakpoint){
        @content;
    }
}

@mixin displayDishes($delay: 0s){
    animation: displayDishes 1.5s cubic-bezier(0.5, 1, 0.89, 1) $delay;

    @if ($delay != 0){
        animation-fill-mode: backwards;
    }
}