$color-primary: #9256dc;
$color-secondary: #FF79DA;
$color-tertiary: #98e2cf;

$color-gray-location: #ebebeb;
$color-gray-icon: #7d7d7d;
$color-gray-light: #f5f5f5;
$color-gray-dark: #363636;

$color-white: #fff;
$color-black: #000;

//Liste des différents breakpoint pour les media queries
$breakpoints:(
    bp-600: 37.5em,
    bp-700: 43.75em,
    bp-750: 46.875em,
    bp-850: 53.125em,
    bp-1165: 72.8125em,
    bp-1340: 83.75em,
    bp-2000: 125em
);
