//Composant pour l'image de présentation de la page des menu

.hero{
    width: 100%;
    height: 25vh;
    @include media-queries(map-get($breakpoints, bp-850)){
        height: 30vw;
    }
    &__image{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}